---
import Layout from "../layouts/Layout.astro"

const res = await fetch("https://public-api.wordpress.com/wp/v2/sites/testheadless4.wordpress.com/posts/?_embed")
const posts = await res.json();
let postExcerpt = (post) => {
    let text = post.excerpt.rendered;
    // Supprime les balises HTML
    text = text.replace(/<(?:.|\n)*?>/gm, '');
    let content = text.split('.');
    return `${content[0]}. ${content[1]}...`;
};


---

<Layout title="Headless CMS test">
	
    <section class="max-w-6xl px-4 relative m-auto py-24">
        <h2 class="text-3xl md:text-5xl mb-16 text-center text-secondary font-bold">Headless CMS Wordpress</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8 lg:gap-y-10 ">
            {
                posts.map((post, index) => (
                    <a href={`/blog/${post.slug}`} class="box relative z-10 grid content-start shadow-lg rounded-xl ">
						<div class="overflow-hidden rounded-t-xl ">
							<img class="transition-all aspect-video object-cover" src={post._embedded['wp:featuredmedia'] && post._embedded['wp:featuredmedia']['0'].source_url} />
						</div>
                        <div class="py-4 px-6" >
                            <h2 class="font-bold text-xl mt-4  text-secondary">{post.title.rendered}
                            </h2>
                            <p class="mb-4 text-secondary/80 line-clamp-3">     {postExcerpt(post)}

                            </p>
                        </div>
                    </a>
                ))
            }
        </div>
    </section>
</Layout>

<style>
    img{
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .box {
        transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .box:hover img{
		transform: scale(1.02);
    }

   
</style>
